<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <!--table class="table">
            <thead class="text-primary">
              <tr>
                <th scope="col" abbr="Starter">N</th>
                <th scope="col" abbr="Starter">Nombre</th>
                <th scope="col" abbr="Starter">Lenguaje</th>
                <th scope="col" abbr="Starter">Descripción</th>
                <th class="text-right" scope="col" abbr="Starter">
                  Ir al modelo
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <th scope="row">Apnea</th>
                <td>Python</td>
                <td>
                  Modelo de clasificación que use los embedding como técnica de
                  vectorización de textos con el fin de predecir la apnea del
                  sueño.
                </td>
                <td>
                  <i class="material-icons" routerLink="/apnea"><img src="./assets/img/flecha1.png" height="30"
                      width="30" /></i>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <th scope="row">sentiment analysis</th>
                <td class="txtok">Python</td>
                <td>
                  Modelo de clasificación que realizar análisis de sentimientos
                  en texto.
                </td>

                <i class="material-icons" routerLink="/sentiment-a"><img src="./assets/img/flecha1.png" height="30"
                    width="30" /></i>
              </tr>
              <tr>
                <td>3</td>
                <th scope="row">Fake-news</th>
                <td>Python</td>
                <td>
                  Modelo de clasificación que utiliza TFIDF como técnica de
                  vectorización de textos con el fin de detectar noticias falsas
                  en el contexto politico colombiano la apnea del sueño.
                </td>
                <td>
                  <i class="material-icons" routerLink="/fake-news"><img src="./assets/img/flecha1.png" height="30"
                      width="30" /></i>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <th scope="row">Psicolinguistica</th>
                <td>Python</td>
                <td>
                  Modelo de clasificación que permite la detección de sintomas
                  de depresión en textos.
                </td>
                <!-td >
                      <i  class="material-icons"  routerLink="/psicolinguistica"><img src="./assets/img/flecha1.png"  height ="30" width="30" /></i>
                    </td->
              </tr>
              <tr>
                <td>5</td>
                <th scope="row">Image Prediction</th>
                <td>Python</td>
                <td>Modelo de clasificación de imagenes de alimentos.</td>
                <td>
                  <i class="material-icons" routerLink="/imagepredict"><img src="./assets/img/flecha1.png" height="30"
                      width="30" /></i>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <th scope="row">Credit Card</th>
                <td>Python</td>
                <td>
                  Modelo de clasificación y predicción para predecir la
                  probabilidad de cancelación de tarjeta de crédito y el
                  segmento del valor del cliente.
                </td>
                <!-td>
                  <i class="material-icons" routerLink="/credit-card"><img src="./assets/img/flecha1.png" height="30"
                      width="30" /></i>
                </td->
              </tr>
              <tr>
                <td>7</td>
                <th scope="row">Hate Speech</th>
                <td>Python</td>
                <td>Modelo de clasificación que permite la identificación de discursos de odio enfocados al racismo y
                  misoginia
                  que utiliza Bert.</td>
                <td>
                  <i class="material-icons" routerLink="/hate-speech"><img src="./assets/img/flecha1.png" height="30"
                      width="30" /></i>
                </td>
              </tr>
              <tr>
                <td>8</td>
                <th scope="row">Geographic Banking</th>
                <td>Python</td>
                <td>Modelo de clasificación que predice si un cliente entrará o no en mora de acuerdo con sus
                  características geográficas e ingresos
                  <!-td >
                      <i  class="material-icons"  routerLink="/geographic_banking"><img src="./assets/img/flecha1.png"  height ="30" width="30" /></i>
                    </td->
              </tr>
              <tr>
                <td>9</td>
                <th scope="row">Clinical Taxonomy</th>
                <td>Python</td>
                <td>Modelo de clasificación que crea la taxonomía de articulo científicos en idioma inglés .</td>
                <td>
                  <i class="material-icons" routerLink="/clinical_taxonomy"><img src="./assets/img/flecha1.png"
                      height="30" width="30" /></i>
                </td>
              </tr>
              <tr>
                <td>10</td>
                <th scope="row">Reidentificacion Vehiculos</th>
                <td>Python</td>
                <td>Modelo de clasificación de imagenes que permite determinar si dos vehiculos son iguales en cuanto a
                  aspecto y placa</td>
                <td>
                  <i class="material-icons" routerLink="/reidentificacion-vehiculos"><img src="./assets/img/flecha1.png"
                      height="30" width="30" /></i>
                </td>
              </tr>
              <tr>
                <td>11</td>
                <th scope="row">Scoring Credit</th>
                <td>Python</td>
                <td>
                  Modelo de predicción de riesgo crediticio para el portafolio
                  de vehículos
                </td>
                <!-td >
                          <i  class="material-icons"  routerLink="/scoring-credit"><img src="./assets/img/flecha1.png"  height ="30" width="30" /></i>
                </td->
              </tr>

              <tr>
                <td>12</td>
                <th scope="row">identificacion_etiquetas_vehiculos</th>
                <td>Python</td>
                <td>
                  Modelo de clasificación de imagenes que permite la detección
                  de vehiculos de carga con materiales potencialmente peligrosos
                </td>
                <!-td >
                          <i  class="material-icons"  routerLink="/identificacion-vehicular"><img src="./assets/img/flecha1.png"  height ="30" width="30" /></i>
                </td->
              </tr>
            </tbody>
          </table-->
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>Item</th>
                  <th>Estacion</th>
                  <th>Sentido</th>
                  <th>Fecha</th>
                  <th>Categoria</th>
                  <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dato of res_data.datos_Conteo_Vehiculos ; let indice=index">
                <td>{{ indice }}</td>
                <td>{{ dato.estacion }}</td>
                <td>{{ dato.sentido }}</td>
                <td>{{ dato.fecha_hora }}</td>
                <td>{{ dato.categoria }}</td>
                <td>{{ dato.cantidad }}</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <button type="submit" class="btn btn-primary btn-round" (click)="updatedata_cv()">predecir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>