  <div class="row">
    <div class="col-lg-9 col-md-6 col-sm-6">
        <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
            <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
            <h6>
                EL modelo de Predicción Hate Speech analiza un texto y determina si el texto tiene una intensión de odio, misógino o racista.
                    Este recibe como entrada un párrafo en español y presenta como resultado una probabilidad de que un texto sea de odio, misógino o racista.

            </h6>
          </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Creditos actuales</p>
                <p class="card-title">$ {{creditU}} 
                  <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
          <div class="stats">
            <i class="fa fa-calendar-o"></i> Creditos
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-3 col-md-2">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-9 col-md-10">
              <p class="card-category">Ingrese el texto:</p>
                  <div class="form-group">
                    <textarea class="form-control" id="text" rows="4" placeholder="Ingrese el texto a analizar" [(ngModel)]="text"></textarea>
                  </div>
                  <div class="row">
                    <button type="submit" class="btn btn-primary btn-round" (click)="updatetext()">predecir</button>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-2">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-globe text-warning"></i>
              </div>
            </div>
            <div class="col-5 col-md-10">
              <div>
                <p class="card-category">Ejemplo de texto para usar en la predicción:</p>
                <p class="text-muted" >{{txt_hp}}<p>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-primary btn-round" [cdkCopyToClipboard]="txt_hp" (click)="copytext()">copy</button>
              </div>
              
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <!--hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div-->
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">ODIO</h5>
          <!--p class="card-category">Last Campaign Performance</p-->
        </div>
        <div class="card-body ">
          <div class="divchart">
            <div class="chart-container">
              <canvas  id="MyChart_hs_1" width="400" height="400">{{ chart_hs_1 }}</canvas>
            </div>
          </div>
        </div>
        <!--div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-primary"></i> Opened
            <i class="fa fa-circle text-warning"></i> Read
            <i class="fa fa-circle text-danger"></i> Deleted
            <i class="fa fa-circle text-gray"></i> Unopened
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Number of emails sent
          </div>
        </div-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">MISOGINIA</h5>
          <!--p class="card-category">Last Campaign Performance</p-->
        </div>
        <div class="card-body ">
          <div class="divchart">
            <div class="chart-container">
              <canvas  id="MyChart_hs_2" width="400" height="400">{{ chart_hs_2 }}</canvas>
            </div>
          </div>
        </div>
        <!--div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-primary"></i> Opened
            <i class="fa fa-circle text-warning"></i> Read
            <i class="fa fa-circle text-danger"></i> Deleted
            <i class="fa fa-circle text-gray"></i> Unopened
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Number of emails sent
          </div>
        </div-->
      </div>
    </div>
    <div class="col-md-4">
      <div class="card ">
        <div class="card-header ">
          <h5 class="card-title">RACISMO</h5>
          <!--p class="card-category">Last Campaign Performance</p-->
        </div>
        <div class="card-body ">
          <div class="divchart">
            <div class="chart-container">
              <canvas  id="MyChart_hs_3" width="400" height="400">{{ chart_hs_3 }}</canvas>
            </div>
          </div>
        </div>
        <!--div class="card-footer ">
          <div class="legend">
            <i class="fa fa-circle text-primary"></i> Opened
            <i class="fa fa-circle text-warning"></i> Read
            <i class="fa fa-circle text-danger"></i> Deleted
            <i class="fa fa-circle text-gray"></i> Unopened
          </div>
          <hr>
          <div class="stats">
            <i class="fa fa-calendar"></i> Number of emails sent
          </div>
        </div-->
      </div>
    </div>

  </div>
  
