<div class="row">
  <div class="col-lg-9 col-md-8 col-sm-6">
      <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
          <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
          <h4>IMAGE PREDICT</h4>
          <h6>
            El modelo Credit Card, busca predecir si un cliente de una entidad financiera que adquiere una tarjeta de crédito puede entrar en mora
          </h6>
        </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Creditos actuales</p>
              <p class="card-title">$ {{creditU}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Creditos
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <p class="card-category">Cargar Archivo (Imagenes de máximo 2MB) Formato: .jpg .png</p>

                  <div class="">
                    <div class="mb-3">

                      <label for= "formFile" class="tt1">Cargar Archivo Formato Excel</label>
                      <input type= "file" (change)="onFileSelected($event)" class="form-control" data-max-file-size="2M" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">

                    </div>
                    <div class="col-12">
                        <button type= "submit" class= "btn btn-primary btn-round" (click)="load_file()" [disabled]="!file || showProgress">Predecir</button>
                      </div>
                      <div class="container" *ngIf="reloading_graphic == 2 ">
                          <h3>Cargando ...</h3>
                          <img src="assets/img/Loading.gif">
                      </div>
                  </div>
          </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <p class="card-category">Para que puedas probar nuestro servicio, puedes descargar
              un documento modelo que con el que podras realizar una predicción</p>
              <p class="text-muted" >Podras realizar la prueba con cada una de los archivos por separado<p>
            <div>
            <div  class="row"><!--seccion download document demo-->
              <div class="col-lg-4 col-md-12"></div>
                <a type="submit" class="btn btn-primary btn-round" (click)="base_demo_document()">Download file</a>
              </div>
            </div>
          </div>
        </div>
        <div>
        </div>
      </div>
      <div class="card-footer ">

      </div>
    </div>
  </div>
</div>
<div class="row"></div>
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">Statistical Distribution</h4>
              </div>
              <div class="card-body " *ngIf="predict_rs">
                <div class="table-responsive">
                  <table class="table">
                          <thead class=" text-primary">
                            <tr>
                              <th data-field="Data1" data-sortable="true">Item</th>
                              <th data-field="Data1" data-sortable="true">Value</th>
                            </tr>
                          </thead >
                          <tbody>
                            <tr data-field="Data1" data-sortable="true"  *ngFor="let rs_cc of var_num1.std; let indice=index">
                              <th >
                                {{rs_cc}}
                              </th>
                              <td  class="text-right">
                                  {{var_num1.std_val[indice]}}
                              </td>
                            </tr>
                          </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">Table prediction</h4>
              </div>
              <div class="card-body " *ngIf="predict_rs">
                <div >
                  <div class="divchart">
                    <div class="chart-container">
                      <canvas  id="MyChart_line" width="400" height="400">{{ chart_line }}</canvas>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th data-field="Data1" data-sortable="true">Item</th>
                            <th data-field="Data1" data-sortable="true"  *ngFor="let rs_cc of res1.predict_texto_predic[0]; let indice=index">
                              {{rs_cc}}
                            </th>
                        </tr>
                    </thead >
                    <tbody *ngFor="let datos of res1.predict_multi_predic; let indice=index">
                      <tr>
                        <th scope="row">{{indice}}</th>
                        <td  class="text-right">
                          {{datos}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row tb1">
                  </div>
                </div>
              </div>
            </div>
          </div>

