<div class="row">
  <div class="col-lg-9 col-md-8 col-sm-6">
    <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
      <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
      <h4>FAKE NEWS</h4>
      <h6>
        Modelo de deteccion de noticias falsas: El modelo de detección de noticias falsas identifica de un
        texto de minimo 20 palabras si la noticias es real o falsa. Funciona solamente con noticias en español
        y los resultados son más precisos para noticias del contexto social-politico colombiano.
      </h6>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>

            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Creditos actuales</p>

              <p class="card-title">$ {{creditU}}
              <p>

            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-calendar-o"></i> Creditos
        </div>
      </div>
    </div>
  </div>

</div>
<div class="row">
  <div class="col-lg-8 col-md-7 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">

            <form>
              <label for="textInput">Ingrese la noticia:</label>

              <textarea class="form-control" name="text" id="textInput" style="height: 500px; width: 500px;"
                [(ngModel)]="text" (input)="checkWordCount()"></textarea>

              <label for="modelIdInput">Seleccione el modelo:</label>

              <select name="model_id" id="modelIdInput" [(ngModel)]="modelId">
                <option value="NB_cp">NB_cp</option>
                <option value="Model2">Model2</option>
                <option value="Model3">Model3</option>
                <option value="Model4">Model4</option>
              </select>
              <br><br>

              <div class="container"  align = "center" *ngIf="reloading_graphic == 2 ">
                <h3>Cargando ...</h3>
                <img src="assets/img/Loading.gif">
              </div>
              <div class="row" align = "center">
                <button type="submit" class="btn btn-primary btn-round" (click)="updatetext()"
                  [disabled]="disableButton">predecir</button>
              </div>
            </form>



          </div>
        </div>
      </div>


    </div>
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-5 col-md-10">
            <div>
              <p class="card-category">Ejemplo de texto para usar en la predicción:</p>
              <p class="text-muted">{{txt_hp}}
              <p>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-primary btn-round" [cdkCopyToClipboard]="txt_hp"
                (click)="copytext()">copy</button>
            </div>

          </div>
        </div>
      </div>
      <div class="card-footer ">
        <!--hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div-->
      </div>
    </div>
    <!--div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-3 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <p class="card-category">Resultado de la prediccion:</p>
              <!-p>Resultado: {{apiResponse | json}}</p->
          </div>
        </div>
      </div>
    </div-->
  </div>
  <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Probabilidad</h5>
        <!--p class="card-category">Last Campaign Performance</p-->
      </div>
      <div class="card-body ">
        <div class="divchart">
          <div class="chart-container">
            <canvas id="MyChart_fn" width="400" height="400">{{ chart_fn }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>