<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Conteo de vehiculos</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">

            <table class="table table-striped">
              <thead>
                  <tr>
                    <th>Item</th>
                    <th>Estacion</th>
                    <th>Sentido</th>
                    <th>Fecha</th>
                    <th>Categoria</th>
                    <th>Cantidad</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let dato of res_data.datos_Conteo_Vehiculos ; let indice=index">
                  <td>{{ indice }}</td>
                  <td>{{ dato.estacion }}</td>
                  <td>{{ dato.sentido }}</td>
                  <td>{{ dato.fecha_hora }}</td>
                  <td>{{ dato.categoria }}</td>
                  <td>{{ dato.cantidad }}</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <button type="submit" class="btn btn-primary btn-round" (click)="updatedata_cv()">predecir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
