<div class="row">
  <div class="col-lg-9 col-md-8 col-sm-6">
    <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
      <span data-notify="icon" class="nc-icon nc-chart-pie-36"></span>
      <h4>Predicción de análisis de sentimiento</h4>
      <h6>
        Modelo de clasificación que realizar análisis de sentimientos en texto.
      </h6>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Creditos actuales</p>

              <p class="card-title">$ {{ creditU }}</p>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
        <div class="stats"><i class="fa fa-calendar-o"></i> Creditos</div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-7 col-sm-6">
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-3 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-money-coins text-success"></i>
            </div>
          </div>
          <div class="col-9 col-md-10">
            <form>
              <label for="textInput">Ingrese el texto:</label>

              <textarea class="form-control" name="text" id="textInput" [(ngModel)]="text">
Escribe aquí tus comentarios</textarea>

              <label for="modelIdInput">Seleccione el modelo:</label>

              <select name="model_id" id="modelIdInput" [(ngModel)]="model">
                <!--option value="lexicones">lexicones</option-->
                <option value="dl_rnn">dl_rnn</option>
                <option value="ml_knn">ml_knn</option>
                <option value="ml_bernoulliNB">ml_bernoulliNB</option>
                <!--option value="ml_svm">ml_svm</option>
                <option value="ml_nb">ml_nb</option-->
              </select>
              <br /><br />
              <div class="container"  align = "center" *ngIf="reloading_graphic == 2 ">
                  <h3>Cargando ...</h3>
                  <img src="assets/img/Loading.gif">
              </div>
              <br /><br />
              <div class="row">
                <button type="submit" class="btn btn-primary btn-round" (click)="updatetext()">
                  predecir
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-stats">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-2">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-globe text-warning"></i>
            </div>
          </div>
          <div class="col-5 col-md-10">
            <div>
              <p class="card-category">
                Ejemplo de texto para usar en la predicción:
              </p>
              <p class="text-muted">{{ txt_sentiment_example }}</p>
              <p></p>
            </div>

            <div class="row">
              <button type="submit" class="btn btn-primary btn-round" [cdkCopyToClipboard]="txt_sentiment_example"
                (click)="copytext()">
                copy
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <!--hr>
          <div class="stats">
            <i class="fa fa-refresh"></i> Update Now
          </div-->
      </div>
    </div>
    <!--div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-3 col-md-2">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-9 col-md-10">
              <p class="card-category">Resultado de la prediccion:</p>
                <!-p>Resultado: {{apiResponse | json}}</p->
            </div>
          </div>
        </div>
      </div-->
  </div>
  <div class="col-lg-4 col-md-5 col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Resultados</h5>
        <!--p class="card-category">Last Campaign Performance</p-->
      </div>
      <div class="card-body">
        <div class="divchart">
          <div class="chart-container">
            <tbody *ngFor="let pst of rs">
              <tr>
                <td>
                  <blockquote>
                    <h6>{{ pst[0] }}</h6>
                    <h5>{{ pst[1] }}</h5>
                  </blockquote>
                </td>
              </tr>
            </tbody>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>